<!-- ML Rich Editor -->
<div
    id="<?= $this->getId('mlControl') ?>"
    data-control="multilingual"
    data-default-locale="<?= $defaultLocale->code ?>"
    data-placeholder-field="#<?= $this->getId('textarea') ?>"
    class="field-multilingual field-multilingual-textarea field-multilingual-richeditor dropdown <?= $stretch?'layout-relative stretch':'' ?>"
    >

    <?= $richeditor ?>

    <button
        class="btn btn-default locale-selector"
        data-toggle="dropdown"
        data-active-locale
        type="button">
    </button>

    <?= $this->makeParentPartial('locale_values') ?>

    <?= $this->makeParentPartial('locale_selector') ?>
</div>

<script> initMLRichEditor('#<?= $this->getId('mlControl') ?>', '#<?= $this->getId('textarea') ?>') </script>