title = "Kontakt"
url = "/kontakt"
layout = "default"
description = "Indywidualiści i fachowcy w wielu dziedzinach, połączeni procesem nowego myślenia o jedzeniu. Jemy i działamy we Wrocławiu."
is_hidden = 0

[builderDetails content]
modelClass = "Ms1Design\Root\Models\Content"
identifierValue = "contact"
modelKeyColumn = "page"
displayColumn = "page"
notFoundMessage = "Record not found"
==
{% put head %}
        <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# business: http://ogp.me/ns/business#">
    {% endput %}
    {% put meta %}
        <title>{{this.page.title}} - Food Think Tank</title>
        <meta name="description" content="{{html_strip(content.record.content|default(this.page.description))}}">
        <meta property="og:description" content="{{ html_strip(content.record.content|default(this.page.description)) }}"/>
        <meta property="og:image" content="{{ 'assets/images/ftt-fb-social.jpg' | theme }}"/>
        <meta property="og:type" content="business.business">
        <meta property="business:contact_data:street_address" content="Al. Poprzeczna 33/35" /> 
        <meta property="business:contact_data:locality"       content="Wrocław" /> 
        <meta property="business:contact_data:postal_code"    content="51-167" /> 
        <meta property="business:contact_data:country_name"   content="Polska" />
        <meta property="business:contact_data:email"          content="ftt@foodthinktank.pl" />
        <meta property="business:contact_data:website"          content="http://www.foodthinktank.pl" />
        <meta property="place:location:latitude" content="51.140923" /> 
        <meta property="place:location:longitude" content="17.0789143" />
        <meta property="og:title" content="{{this.page.title}} - Food Think Tank">
        <meta property="og:url" content="{{ page | page }}">
        <meta name="author" content="Food Think Tank" />
    {% endput %}

<div class="container page-content">
    {% if content.record and content.record.content %}
        <div class="row"> 
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 page-title text-md-left text-lg-right text-sm-left m-b-1"></div>
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 m-b-3 page-columns">
                {% set pageContent = content.record %}
                {% set displayColumn = content.displayColumn %}
                {% set notFoundMessage = content.notFoundMessage %}
                
                {% if pageContent and pageContent.content %}
                    {{ pageContent.content|raw|orphans }}
                {% endif %}
            </div>
        </div>
        <div class="row"><hr class="separator"></div>
    {% endif %}
    
    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 page-title text-md-left text-lg-right text-sm-left m-b-1 p-l-2">
            {{'Kontakt'|_|upper}}
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 m-b-1">
            <div class="col-md-6 col-xs-12">
                <p>
                    <b>{{'Biuro'|_|lower}}</b><br>
                    <a href="mailto:{{html_email('ftt@foodthinktank.pl')|raw}}">{{html_email('ftt@foodthinktank.pl')}}</a>
                </p>
                <p>
                    <b>{{'Media'|_|lower}}</b><br>
                    Ewa Olczyk<br>
                    <a href="mailto:{{html_email('olczyk@foodthinktank.pl')|raw}}">{{html_email('olczyk@foodthinktank.pl')}}</a>
                </p>
                
            </div>
            <div class="col-md-6 col-xs-12">
                <p>
                    <b>{{'Koordynator'|_|lower}}</b><br>
                    Tomasz Hartman<br>
                    <a href="mailto:{{html_email('hartman@foodthinktank.pl')|raw}}">{{html_email('hartman@foodthinktank.pl')}}</a>
                </p>
                <p>
                    <b>{{'Pracownia'|_|lower}}</b><br>
                    ul. Kościuszki 55<br>
                    51-167 Wrocław<br>
                    <a href="mailto:{{html_email('pracownia@foodthinktank.pl')|raw}}">{{html_email('pracownia@foodthinktank.pl')}}</a>
                </p>
                <p>
                    <b>{{'Newsletter'|_|lower}}</b><br>
                    <a href="#" data-toggle="modal" data-target="#subscribe">{{'Zapisz się do naszego newslettera.'|_}}</a>
                </p>
            </div>
        </div>
        <div class="row">
            <hr class="separator col-md-12">
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 page-title text-md-left text-lg-right text-sm-left m-b-1 p-l-2">
            {{'Newsletter'|_|upper}}
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 m-b-1">
            <div class="col-md-6 col-sm-12">
                {{'Zapisz się do naszego newslettera, aby otrzymywać powiadomienia o nowych aktualnościach Food Think Tank.'|_}}
            </div>
            <div class="col-md-6 col-sm-12">
                <form data-request="onSubscription" data-request-success="alert('{{'Dziękujemy za zapisanie się do naszego newslettera!'|_}}');$('#subscribe').modal('hide')">
                    <div class="form-group">
                        <label for="subscribersName">{{'Imię'|_}}</label>
                        <input name="name" type="text" class="form-control" id="subscribersName" placeholder="{{'Wpisz swoje imię'|_}}">
                    </div>
                    <div class="form-group">
                        <label for="newsletter_locale">{{'Wybierz język newslettera'|_}}</label>
                        <select name="locale" id="newsletter_locale" class="form-control">
                            {% for code, name in locales %}
                                <option value="{{ code }}" {{ code == activeLocale ? 'selected' }}>{{ name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="subscribersEmail">{{'Adres E-mail'|_}}</label>
                        <input name="email" type="email" class="form-control" id="subscribersEmail" placeholder="{{'Wpisz swój adres e-mail'|_}}">
                    </div>
                    <button type="submit" class="btn btn-secondary pull-right">{{'Wyślij'|_}}</button>
                </form>
            </div>
            
        </div>
    </div>
    {% if content.record and content.record.attachments %}
        {% set pageContent = content.record %}
        {% set displayColumn = content.displayColumn %}
        {% set notFoundMessage = content.notFoundMessage %}
        <div class="row">
            <hr class="separator col-md-12">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 page-title text-md-left text-sm-left m-b-1 text-lg-right" id="presspack">
                {{'Materiały prasowe'|_|upper}}
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 m-b-1">
                <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th class="hidden-sm-down">{{'Lp'|_}}</th>
                          <th>{{'Załącznik'|_}}</th>
                          <th class="hidden-sm-down">{{'Opis'|_}}</th>
                          <th class="hidden-sm-down">{{'Typ'|_}}</th>
                          <th>{{'Rozmiar'|_}}</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for attachment in pageContent.attachments %}
                            <tr>
                                <td class="hidden-sm-down">{{loop.index}}</td>
                                <td><a href="{{attachment.path}}" download="{{slug(attachment.file_name)}}">{{attachment.title|default(attachment.file_name)}}</a></td>
                                <td class="hidden-sm-down">{{attachment.description|default('–')}}</td>
                                <td class="hidden-sm-down">{{attachment.extension|upper}}</td>
                                <td>{{fileSize(attachment.file_size)}}</td>
                            </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% if content.record and content.record.footer %}
    <div class="container-fluid page-content banner" style="background-image:url('{{content.record.footer.path|raw}}')"></div>
{% endif %}