title = "Fundacja"
url = "/fundation"
layout = "default"
description = "Status fundacji"
is_hidden = 0

[builderDetails content]
modelClass = "Ms1Design\Root\Models\Content"
identifierValue = "fundation"
modelKeyColumn = "page"
displayColumn = "page"
notFoundMessage = "Record not found"
==
<div class="container page-content">
    <div class="row">
        <div class="page-title col-lg-3 col-xs-12 m-b-2">
            {{'Fundacja'|_|upper}}
        </div>
        <div class="col-lg-9 col-xs-12 page-columns">
            {% set pageContent = content.record %}
            {% set displayColumn = content.displayColumn %}
            {% set notFoundMessage = content.notFoundMessage %}
            
            {% if pageContent %}
                {% if pageContent.content %}{{ pageContent.content|raw|orphans }}{% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% if content.record and content.record.footer %}
    <div class="container-fluid page-content banner" style="background-image:url('{{content.record.footer.path|raw}}')"></div>
{% endif %}