title = "Food Think Tank"
url = "/:page?"
layout = "default"
description = "Lista aktualności"
is_hidden = 0

[builderList newsList]
modelClass = "Indikator\News\Models\Posts"
scope = "-"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "post"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
recordsPerPage = 5
pageNumber = "{{ :page }}"
sortColumn = "published_at"
sortDirection = "desc"

[builderDetails content]
modelClass = "Ms1Design\Root\Models\Content"
identifierValue = "news"
modelKeyColumn = "page"
displayColumn = "page"
notFoundMessage = "Record not found"

[loggedin]
==
{% if content.record %}
    <div class="container page-content">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 page-title text-md-right text-sm-left m-b-1 p-x-1">
                {{'Aktualności'|_|upper}}
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 page-columns p-x-1 m-b-3">
                {% set pageContent = content.record %}
                {% set displayColumn = content.displayColumn %}
                {% set notFoundMessage = content.notFoundMessage %}
                
                {% if pageContent.content %}{{ pageContent.content|raw|orphans }}{% endif %}
            </div>
        </div>
    </div>
{% endif %}

<div class="container page-content news">
    
        {% set records = newsList.records %}
        {% set displayColumn = newsList.displayColumn %}
        {% set noRecordsMessage = newsList.noRecordsMessage %}
        {% set detailsPage = newsList.detailsPage %}
        {% set detailsKeyColumn = newsList.detailsKeyColumn %}
        {% set detailsUrlParameter = newsList.detailsUrlParameter %}
        
        {% component 'loggedin' %}
        
            {% for record in records %}
                {% if record.status == 2 and loggedin.user != false and (loggedin.user.superuser == true or loggedin.user.permissions == true) %}
                    {% set preview = true %}
                {% else %}
                    {% set preview = false %}
                {% endif %}
                {% if record.status == 1 or preview %}
                   <div class="row wow fadeInUp col-md-12 m-b-2" data-wow-duration="250ms">
                    <a href="{{ detailsPage|page({slug: record.slug}) }}" class="col-lg-2 col-md-3 col-sm-3 hidden-xs-down thumbnail no-outline col-lg-offset-2 col-md-offset-0 col-sm-offset-0">
                        {#<img class="img-fluid" src="{{'assets/images/cloud_black.png'|theme}}" alt="{{ record.title }}" style="opacity:0.5;">#}
                        <img src="{{record.image|media}}" class="img-fluid">
                    </a>
                    <div class="col-lg-7 col-md-9 col-sm-9">
                        <h3><a href="{{ detailsPage|page({slug: record.slug}) }}">{{ record.title|upper|orphans }}</a>{% if preview %}<small> (ukryty)</small>{% endif %}</h3>
                        {% if record.introductory %}
                            <p class="lead">
                                {{ record.introductory|raw|orphans }}
                            </p>
                        {% else %}
                             <div class="content">
                                 {{ record.content|raw|orphans }}
                            </div>
                        {% endif %}
                        <div class="col-md-8 col-xs-10 small">{{localizeDate(record.published_at|date('d F Y'), activeLocale)}}</div>
                        <a href="{{ detailsPage|page({slug: record.slug}) }}" class="no-outline col-md-1 col-xs-2 pull-right">
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-offset-2 col-md-offset-2 col-md-10">
                        <hr class="separator">
                    </div>
                </div>
                {% endif %}
            {% endfor %}

        
        {% if records.lastPage > 1 %}
        <div class="row">
            <nav class="col-md-12 text-md-center">
              <ul class="pagination pagination-sm">
                {% if records.currentPage > 1 %}
                    <li class="page-item {{ records.currentPage == page ? 'disabled active' : null }}">
                        <a class="page-link no-outline" href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}" aria-label="{{'Poprzednia'|_}}">
                            <span aria-hidden="true">&laquo;&nbsp;{{'Poprzednia'|_}}</span>
                            <span class="sr-only">&larr;&nbsp;{{'Poprzednia'|_}}</span>
                        </a>
                    </li>
                {% endif %}
                {% for page in 1..records.lastPage %}
                    <li class="page-item {{ records.currentPage == page ? 'active' : null }}">
                        <a class="page-link no-outline" href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
                    </li>
                {% endfor %}
                {% if records.lastPage > records.currentPage %}
                    <li class="page-item">
                      <a class="page-link no-outline" href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}" aria-label="{{'Następna'|_}}">
                        <span aria-hidden="true">{{'Następna'|_}}&nbsp;&raquo;</span>
                        <span class="sr-only">{{'Następna'|_}}&nbsp;&rarr;</span>
                      </a>
                    </li>
                {% endif %}
              </ul>
            </nav>
        </div>
        {% endif %}
</div>
{% if content.record and content.record.footer %}
    <div class="container-fluid page-content banner" style="background-image:url('{{content.record.footer.path|raw}}')"></div>
{% endif %}