title = "Manifest"
url = "/manifesto"
layout = "default"
description = "Manifest fundacji"
is_hidden = 0

[builderDetails content]
modelClass = "Ms1Design\Root\Models\Content"
identifierValue = "manifesto"
modelKeyColumn = "page"
displayColumn = "page"
notFoundMessage = "Record not found"
==
<div class="container page-content">
    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 page-title text-md-right text-sm-left m-b-1 p-x-1">
            {{'Manifest'|_|upper}}
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 page-columns p-x-1 m-b-3">
            {% set pageContent = content.record %}
            {% set displayColumn = content.displayColumn %}
            {% set notFoundMessage = content.notFoundMessage %}
            
            {% if pageContent %}
                {% if pageContent.content %}{{ pageContent.content|raw|orphans }}{% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% if content.record and content.record.footer %}
    <div class="container-fluid page-content banner" style="background-image:url('{{content.record.footer.path|raw}}')"></div>
{% endif %}