title = "Ludzie"
url = "/people/:member?"
layout = "default"
description = "Lista ludzi FTT"
is_hidden = 0

[builderList members]
modelClass = "Ms1Design\Root\Models\Member"
scope = "-"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "people"
detailsKeyColumn = "slug"
detailsUrlParameter = "member"
pageNumber = "{{ :page }}"
sortColumn = "name"

[builderDetails member]
modelClass = "Ms1Design\Root\Models\Member"
identifierValue = "{{ :member }}"
modelKeyColumn = "slug"
displayColumn = "name"
notFoundMessage = "Record not found"

[builderDetails content]
modelClass = "Ms1Design\Root\Models\Content"
identifierValue = "people"
modelKeyColumn = "page"
displayColumn = "page"
notFoundMessage = "Record not found"
==
{% put head %}
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# profile: http://ogp.me/ns/profile#">
{% endput %}

<div class="container page-content">
<!-- ____________________________________ -->
<!-- # SINGLE MEMBER -->
<!-- ____________________________________ -->
{% if this.param.member != "" and member.record and (member.record.status == 'active' or member.record.status == 'ex-member' or member.record.status == 'guest') %}
    {% set record = member.record %}
    {% set displayColumn = member.displayColumn %}
    {% set notFoundMessage = member.notFoundMessage %}
    
    {% put meta %}
        <title>{{record.name}} - Food Think Tank</title>
        <meta name="description" content="{{html_strip(record.bio|md)|trim}}">
        <meta property="og:description" content="{{html_strip(record.bio|md)|trim}}"/>
        <meta property="og:image" content="{{'/'|app}}{{ record.profile.path}}"/>
        <meta property="og:type" content="profile">
        <meta property="profile:first_name" content="{{record.name|split(' ')[0]|trim}}">
        <meta property="profile:last_name" content="{{record.name|split(' ')[1]|trim}}">
        <meta property="profile:username" content="{{record.slug}}">
        <meta property="og:title" content="{{record.name}} - Food Think Tank">
        <meta property="og:url" content="{{ page | page }}">
        <meta name="author" content="{{record.last_edited_by}}" />
        {# see also #}
        {% set see = members.records %}
        {% set see_page = members.detailsPage %}
        {% set see_slug = members.detailsUrlParameter %}
        {% for see_also in see %}
            {% if see_also.id != member.record.id and see_also.status == 'active' %}
                {% spaceless %}
                        <meta property="og:see_also" class="{{see_also.slug}}" content="{{ see_page|page({member: see_also.slug}) }}" />
                {% endspaceless %}
            {% endif %}
        {% endfor %}
        {# / see also #}
    {% endput %}
    
 
    <div class="row profile">
        <div class="info col-lg-3 col-xs-12 m-b-2">
            <span class="name m-b-1">{{record.name|upper}}<span class="business small">{% if record.status == 'ex-member' %}({{'Ex-member'|_}}){% elseif record.status == 'guest' %}({{'gościnnie'|_}}){% endif %}</span></span>
            {% if record.title %}<span class="title m-b-1">{{record.title|orphans}}</span>{% endif %}
            {% if record.business %}
                {% set all_business =  record.business|split(', ') %}
                {% for business in all_business %}
                    <span class="business">{{business|raw|orphans}}</span>
                {% endfor %}
            {% endif %}
            {% if record.url %}<a class="link" href="{{record.url}}" target="_blank" class="title m-b-1"><b>{{record.url}}</b></a>{% endif %}
        </div>
        <div class="bio col-lg-9 col-xs-12 page-columns {% if record.projects|length > 0 %}m-b-3{% endif %}">
            {% if record.profile.path != '' %}<img class="avatar m-b-2 img-fluid" src="{{record.profile.path}}" alt="{{record.name|upper}}" title="{{record.name|upper}}">{% endif %}
            {% if record.bio %}{{record.bio|raw|orphans}}{% else %}<p>–––</p>{% endif %}
            {% if record.projects|length > 0 %}
                <h5 class="m-t-2">{{'Projekty'|_}}</h5>
                <hr>
                <ul>
                    {% for project in record.projects %}
                        {% if project.active %}
                            <li><a href="{{ 'project'|page({ slug: project.slug }) }}"><b>{{project.name}}</b> ({{project.end_date|date('Y')}})</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>

{% endif %}

<!-- ____________________________________ -->
<!-- # MEMBER LIST -->
<!-- ____________________________________ -->
{% if this.param.member == "" %}
    {% put meta %}
        <title>{{ this.page.title }} Food Think Tank</title>
        <meta name="description" content="{{ html_strip(content.record.content) }}">
        <meta property="og:description" content="{{ html_strip(content.record.content) }}"/>
        <meta property="og:image" content="{{ 'assets/images/logo_pelne.png' | theme }}"/>
        <meta property="og:image" content="{{ 'assets/images/ftt_logo.png' | theme }}"/>
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ this.page.title }} Food Think Tank">
        <meta property="og:url" content="{{ page | page }}">
        <meta name="author" content="Food Think Tank" />
    {% endput %}
    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 page-title text-md-right text-sm-left m-b-1 p-x-1">
            {{'Ludzie'|_|upper}}
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 page-columns p-x-1 m-b-3">
            {% set pageContent = content.record %}
            {% set displayColumn = content.displayColumn %}
            {% set notFoundMessage = content.notFoundMessage %}
            
            {% if pageContent %}
                {% if pageContent.content %}{{ pageContent.content|raw|orphans }}{% endif %}
            {% endif %}
        </div>
    </div>
    {% set records = members.records %}
    {% set displayColumn = members.displayColumn %}
    {% set noRecordsMessage = members.noRecordsMessage %}
    {% set detailsPage = members.detailsPage %}
    {% set detailsKeyColumn = members.detailsKeyColumn %}
    {% set detailsUrlParameter = members.detailsUrlParameter %}
    
    {% set ex = 0 %}
    {% set guest = 0 %}
    <div class="row">
        <div class="col-md-12"><hr></div>
        {% for record in records %}
            {% if record and record.status == 'ex-member' %}
                {% set ex = ex + 1 %}
            {% elseif record and record.status == 'guest' %}
                {% set guest = guest + 1 %}
            {% endif %}
            {% if record and record.status == 'active' and detailsPage %}
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 m-t-2 wow fadeInUp member-wrap" data-wow-duration="250ms">
                    {% spaceless %}
                        <a class="member-card" href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}" style="background-image:url({{record.profile.thumb(400, auto)}});">
                            <div class="info">
                                {% if record.name %}<span class="name">{{record.name|title}}{% if record.status == 'ex-member' %}<span class="small">({{record.status|capitalize}})</span>{% endif %}</span>{% endif %}
                                {% if record.title %}<span class="title">{{record.title|orphans}}</span>{% endif %}
                                {% if record.business %}<span class="business">{{record.business|orphans}}</span>{% endif %}
                            </div>
                        </a>
                    {% endspaceless %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% if ex > 0 %}
        <div class="row m-t-3">
            <div class="col-md-12"><h4>{{'Współpracowali z nami'}}</h4><hr></div>
            {% for record in records %}
                {% if record and record.status == 'ex-member' and detailsPage %}
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 m-t-2 wow fadeInUp member-wrap" data-wow-duration="250ms">
                        {% spaceless %}
                            <a class="member-card" href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}" style="background-image:url({{record.profile.thumb(200, auto)}});">
                                <div class="info">
                                    {% if record.name %}<span class="name">{{record.name|title}}<span class="small">({{'Ex-member'|_}})</span></span>{% endif %}
                                    {% if record.title %}<span class="title">{{record.title|orphans}}</span>{% endif %}
                                    {% if record.business %}<span class="business">{{record.business|orphans}}</span>{% endif %}
                                </div>
                            </a>
                        {% endspaceless %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    {% if guest > 0 %}
        <div class="row m-t-3">
            <div class="col-md-12"><h5>{{'Gościnnie w projektach uczestniczyli'|_}}</h5><hr></div>
        </div>
            {% for record in records %}
                {% if record and record.status == 'guest' and detailsPage %}
                    <div class="row">
                        <div class="col-lg-4 col-xs-5 text-md-right">
                            {#<a class="no-outline" href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}"><b>#}
                                {{record.name|title}}
                            {#</b></a>#}
                        </div>
                        <div class="section col-lg-8 col-xs-7">
                            {% if record.projects|length > 0 %}
                                    <span class="business">
                                        {% for project in record.projects %}
                                            <a class="small" href="{{'project'|page({slug: project.slug})}}">{{project.name}} ({{project.end_date|date('Y')}})</a>{% if loop.index < loop.length %}{{', '}}{% endif %}
                                        {% endfor %}
                                    </span>
                            {% else %}
                                {{'&nbsp;'|raw}}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    
    {% if records.lastPage > 1 %}
        <ul class="pagination">
            {% if records.currentPage > 1 %}
                <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}">&larr; {{'Poprzednia'|_}}</a></li>
            {% endif %}
    
            {% for page in 1..records.lastPage %}
                <li class="{{ records.currentPage == page ? 'active' : null }}">
                    <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
                </li>
            {% endfor %}
    
            {% if records.lastPage > records.currentPage %}
                <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}">{{'Następna'|_}} &rarr;</a></li>
            {% endif %}
        </ul>
    {% endif %}
    
{% endif %}
</div>
{% if content.record and content.record.footer %}
    <div class="container-fluid page-content banner" style="background-image:url('{{content.record.footer.path|raw}}')"></div>
{% endif %}