title = "Post"
url = "/post/:slug?"
layout = "default"
description = "Pojedyńczy news"
is_hidden = 0

[builderDetails publication]
modelClass = "Indikator\News\Models\Posts"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "title"
notFoundMessage = "Record not found"

[stat]

[ssbuttons share]
twitter = 1
facebook = 1
google+ = 1
stumbleupon = 0
linkedin = 0

[builderList see_also]
modelClass = "Indikator\News\Models\Posts"
scope = "-"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsKeyColumn = "id"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[loggedin]
==
{% put head %}
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
{% endput %}

<div class="container page-content news">
    {% set record = publication.record %}
    {% set displayColumn = publication.displayColumn %}
    {% set notFoundMessage = publication.notFoundMessage %}
    
    {% component 'loggedin' %}
    {% if record and record.status == 2 and loggedin.user != false and (loggedin.user.superuser == true or loggedin.user.permissions == true) %}
        {% set preview = true %}
    {% else %}
        {% set preview = false %}
    {% endif %}
    
    {% if record and (record.status == 1 or preview == true) %}
    {% put meta %}
        {% spaceless %}
        <title>{{record.title}} - Food Think Tank</title>
        <meta name="description" content="{{html_strip(record.introductory|md)|trim}}">
        <meta property="og:description" content="{{html_strip(record.introductory|md)|trim}}"/>
        <meta property="og:image" content="{{'/'|app}}{{ record.image|media }}"/>
        <meta property="og:type" content="article" /> 
        <meta property="article:published_time" content="{{record.created_at}}" />
        <meta property="article:modified_time" content="{{record.updated_at}}" /> 
        <meta property="article:publisher" content="350055628507877" />
        {#<meta property="article:author" content="{{record.created_by}}" />#}
        <meta property="article:section" content="Aktualności" />
        <meta property="og:title" content="{{record.title}} - Food Think Tank">
        <meta property="og:url" content="{{ page | page }}">
        <meta name="author" content="{{record.created_by}}" />
        {# see also #}
        {% set see = see_also.records %}
        {% set see_page = see_also.detailsPage %}
        {% for see_also in see %}
            {% if see_also.id != record.id %}
                {% spaceless %}
                    <meta property="og:see_also" content="{{ see_page|page({slug: see_also.slug}) }}" />
                {% endspaceless %}
            {% endif %}
        {% endfor %}
        {% endspaceless %}
        {# / see also #}
    {% endput %}
    <div class="row m-b-1">
        {% if preview %}
            <div class="alert alert-info" role="alert">
                <strong>Wpis jest ukryty</strong> i jest widoczny tylko dla administratorów strony.
            </div>
        {% endif %}
        <div class="col-lg-7 col-md-6 col-xs-12 col-sm-12 col-md-offset-4 col-sm-offset-0">
            <h1 class="title">{{record.title|upper}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 thumbnail m-b-2">
           {% if record.image %}<p><img class="img-fluid" src="{{record.image|media}}" alt="{{record.title}}"></p>{% endif %}
        </div>
        <div class="col-lg-7 col-md-8 col-sm-12 col-xs-12 post">
            <h3 class="lead">{{ record.introductory|raw|orphans }}</h3>
            <div class="news-content clearfix">{{ record.content|raw|orphans }}</div>
            <hr class="separator">
            <p class="info col-md-7 col-sm-7 col-xs-7 p-x-0">
                {{ localizeDate(record.published_at|date('j F Y', "Europe/Warsaw"), activeLocale) }}
            </p>
            <div class="col-md-3 col-sm-3 col-xs-3 text-md-center p-x-0">
                <div class="SocialSharingButtons">
                    {% if(share.property('twitter'))     %}<a data-toggle="tooltip" href="http://twitter.com/home?status={{ (this.page.title ~ ' ' ~ url_current())|url_encode }}" title="{{'Udostępnij na'|_}}&nbsp;Twitter" target="_blank"><i class="fa fa-twitter"></i></a>{% endif %}
                    {% if(share.property('facebook'))    %}<a data-toggle="tooltip" href="https://www.facebook.com/sharer/sharer.php?u={{ url_current()|url_encode }}" title="{{'Udostępnij na'|_}}&nbsp;Facebook" target="_blank"><i class="fa fa-facebook"></i></a>{% endif %}
                    {% if(share.property('google+'))     %}<a data-toggle="tooltip" href="https://plus.google.com/share?url={{ (this.page.title ~ ' ' ~ url_current())|url_encode }}" title="{{'Udostępnij na'|_}}&nbsp;Google+" target="_blank"><i class="fa fa-google-plus"></i></a>{% endif %}
                    {% if(share.property('stumbleupon')) %}<a data-toggle="tooltip" href="http://www.stumbleupon.com/submit?url={{ (this.page.title ~ ' ' ~ url_current())|url_encode }}" title="{{'Udostępnij na'|_}}&nbsp;StumbleUpon" target="_blank" data-placement="top"><i class="fa fa-stumbleupon"></i></a>{% endif %}
                    {% if(share.property('linkedin'))    %}<a data-toggle="tooltip" href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary={{ (this.page.title ~ ' ' ~ url_current())|url_encode }}" title="{{'Udostępnij na'|_}}&nbsp;LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a>{% endif %}
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 text-md-right text-sm-right text-xs-right p-x-0">
                {% component 'stat' %}
                <span data-toggle="tooltip" title="{{'Ten artykuł wyświetlono :number razy'|_({ number: views }) }}"><i class="fa fa-eye"></i>&nbsp;&nbsp;{{ views }}</span>
            </div>
        </div>
    </div>
    {% else %}
        {{ notFoundMessage }}
    {% endif %}
</div>