title = "Projekty"
url = "/projects/:page?"
layout = "default"
description = "Strona główna (startowa)"
is_hidden = 0

[builderList projects]
modelClass = "Ms1Design\Root\Models\Project"
scope = "-"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "project"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
recordsPerPage = 6
pageNumber = "{{ :page }}"
sortColumn = "end_date"
sortDirection = "desc"

[builderDetails content]
modelClass = "Ms1Design\Root\Models\Content"
identifierValue = "home"
modelKeyColumn = "page"
displayColumn = "page"
notFoundMessage = "Record not found"

[loggedin]
==
{% set records = projects.records %}
{% set displayColumn = projects.displayColumn %}
{% set noRecordsMessage = projects.noRecordsMessage %}
{% set detailsPage = projects.detailsPage %}
{% set detailsKeyColumn = projects.detailsKeyColumn %}
{% set detailsUrlParameter = projects.detailsUrlParameter %}

{% set partnership_projects = [] %}

<div class="container page-content">
    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 page-title text-md-left text-sm-left m-b-1 p-x-3"></div>
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 p-x-3 m-b-1">
            {% set pageContent = content.record %}
            {% set displayColumn = content.displayColumn %}
            {% set notFoundMessage = content.notFoundMessage %}
            
            {% if pageContent %}
                {% if pageContent.content %}{{ pageContent.content|raw|orphans }}{% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% component 'loggedin' %}

{% for record in records %}
    {#{% if record.partnership == false %}#}
        
        {% if record.active == false and loggedin.user != false and (loggedin.user.superuser == true or loggedin.user.permissions == true) %}
            {% set preview = true %}
        {% else %}
            {% set preview = false %}
        {% endif %}
        
        {% if (detailsPage or preview == true) and record.partnership == false %}
            <div class="container-fluid page-content projects-list wow fadeIn m-b-1 m-t-0" data-wow-duration="150ms" data-wow-delay="{{loop.index * 20}}ms">
                <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}" class="no-outline" style="background-image:url('{{record.cover.path}}')">
                    <div class="info">
                        <div class="row center-block col-md-7 col-sm-10 col-xs-12">
                            <div class="logo col-md-4 col-sm-3 col-xs-2 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 m-b-1 hidden-sm-down">
                                <img src="{{'assets/images/cloud_white.png'|theme}}" alt="FTT">
                            </div>
                            <div class="col-md-8 col-sm-9 col-xs-12 m-b-1">
                                <span class="title">{{record.name|upper}}{% if preview %}<small> (ukryty)</small>{% endif %}</span>
                                {% if record.location %}
                                    <span class="location">
                                {% endif %}
                                        {{record.location|trim}}
                                {% if record.location %}
                                    </span>
                                {% endif %}
                                {% if record.start_date or record.end_date %}
                                    <span class="date">
                                {% endif %}
                                    {% if record.start_date %}{{localizeDate(record.start_date|date("F Y", "Europe/Warsaw"), activeLocale)}} – {% endif %}{% if record.end_date %}{{localizeDate(record.end_date|date("F Y", "Europe/Warsaw"), activeLocale)}}{% endif %}
                                {% if record.start_date or record.end_date %}
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% elseif (detailsPage or preview == true) and record.partnership == true %}
            {% set partnership_projects = partnership_projects|merge([record]) %}
        {% endif %}

    
{% endfor %}

{% for record in partnership_projects %}

    {% if record.active == false and loggedin.user != false and (loggedin.user.superuser == true or loggedin.user.permissions == true) %}
        {% set preview = true %}
    {% else %}
        {% set preview = false %}
    {% endif %}
    
    {% if detailsPage or preview == true %}
        <div class="container-fluid page-content projects-list partners-project wow fadeIn m-b-1 m-t-0" data-wow-duration="150ms" data-wow-delay="{{loop.index * 20}}ms">
                <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}" class="no-outline" style="background-image:url('{{record.cover.path}}')">
                    <div class="info">
                        <div class="row center-block col-md-7 col-sm-10 col-xs-12">
                            <div class="logo col-md-4 col-sm-3 col-xs-2 col-md-offset-0 col-sm-offset-0 col-xs-offset-0 m-b-1 hidden-sm-down">
                                <img src="{{'assets/images/cloud_white.png'|theme}}" alt="FTT">
                            </div>
                            <div class="col-md-8 col-sm-9 col-xs-12 m-b-0">
                                <span class="title">{{record.name|upper}}{% if preview %}<small> (ukryty)</small>{% endif %}</span>
                                    <span class="date">
                                        <small>{{'akcja partnerska'|_|upper}}</small>
                                    </span>
                                {% if record.location %}
                                    <span class="location">
                                {% endif %}
                                        {{record.location|trim}}
                                {% if record.location %}
                                    </span>
                                {% endif %}
                                {% if record.start_date or record.end_date %}
                                    <span class="date">
                                {% endif %}
                                    {% if record.start_date %}{{localizeDate(record.start_date|date("F Y", "Europe/Warsaw"), activeLocale)}} – {% endif %}{% if record.end_date %}{{localizeDate(record.end_date|date("F Y", "Europe/Warsaw"), activeLocale)}}{% endif %}
                                {% if record.start_date or record.end_date %}
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
    {% endif %}
{% endfor %}

{% if records.lastPage > 1 %}
    <div class="container">
        <div class="row">
            <nav class="col-md-12 text-md-center">
              <ul class="pagination pagination-sm">
                {% if records.currentPage > 1 %}
                    <li class="page-item {{ records.currentPage == page ? 'disabled active' : null }}">
                        <a class="page-link no-outline" href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}" aria-label="{{'Poprzednia'|_}}">
                            <span aria-hidden="true">&laquo;&nbsp;{{'Poprzednia'|_}}</span>
                            <span class="sr-only">&larr;&nbsp;{{'Poprzednia'|_}}</span>
                        </a>
                    </li>
                {% endif %}
                {% for page in 1..records.lastPage %}
                    <li class="page-item {{ records.currentPage == page ? 'active' : null }}">
                        <a class="page-link no-outline" href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
                    </li>
                {% endfor %}
                {% if records.lastPage > records.currentPage %}
                    <li class="page-item">
                      <a class="page-link no-outline" href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}" aria-label="{{'Następna'|_}}">
                        <span aria-hidden="true">{{'Następna'|_}}&nbsp;&raquo;</span>
                        <span class="sr-only">{{'Następna'|_}}&nbsp;&rarr;</span>
                      </a>
                    </li>
                {% endif %}
              </ul>
            </nav>
        </div>
    </div>
{% endif %}

{% if content.record and content.record.footer %}
    <div class="container-fluid page-content banner" style="background-image:url('{{content.record.footer.path|raw}}')"></div>
{% endif %}