title = "Project"
url = "/project/:slug?"
layout = "default"
description = "Widok projektu"
is_hidden = 0

[builderDetails project]
modelClass = "Ms1Design\Root\Models\Project"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "name"
notFoundMessage = "Record not found"

[ssbuttons share]
twitter = 1
facebook = 1
google+ = 1
stumbleupon = 0
linkedin = 0

[builderList see_projects]
modelClass = "Ms1Design\Root\Models\Project"
scope = "-"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "project"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"

[loggedin]
==
{% put head %}
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
{% endput %}
<div class="single-project container page-content">
    {% set record = project.record %}
    {% set displayColumn = project.displayColumn %}
    {% set notFoundMessage = project.notFoundMessage %}
    
    {% component 'loggedin' %}
    {% if record and record.active == false and loggedin.user != false and (loggedin.user.superuser == true or loggedin.user.permissions == true) %}
        {% set preview = true %}
    {% else %}
        {% set preview = false %}
    {% endif %}

    {% if record and (record.active or preview) %}
        {% put meta %}
            <title>{{record.name}} - Food Think Tank</title>
            <meta name="description" content="{{html_strip(record.description|md)|trim}}">
            <meta property="og:description" content="{{html_strip(record.description|md)|trim}}"/>
            <meta property="og:image" content="{{'/'|app}}{{ record.cover.path}}"/>
            {% if record.images|length > 0 %}
                {% for image in record.images %}
                    <meta property="og:image" content="{{'/'|app}}{{image.path}}"/>
                {% endfor %}
            {% endif %}
            <meta property="og:type" content="article"> 
            <meta property="article:published_time" content="{{record.created_at}}" /> 
            <meta property="article:modified_time" content="{{record.updated_at}}" /> 
            <meta property="article:publisher" content="https://www.facebook.com/foodthinktank" /> 
            <meta property="article:author" content="https://www.facebook.com/foodthinktank"/>
            <!-- <meta name="author" content="{{record.last_edited_by}}" /> -->
            <meta property="og:title" content="{{record.name}} - Food Think Tank">
            <meta property="og:url" content="{{ page | page }}">
            {# see also #}
            {% set see = see_projects.records %}
            {% set see_page = see_projects.detailsPage %}
            {% set see_slug = see_projects.detailsUrlParameter %}
            {% for see_also in see %}
                {% if see_also.id != project.record.id and see_also.active %}
                    {% spaceless %}
                            <meta property="og:see_also" class="{{see_also.slug}}" content="{{ see_page|page({slug: see_also.slug}) }}" />
                    {% endspaceless %}
                {% endif %}
            {% endfor %}
            {# / see also #}
        {% endput %}
        <div class="row project">
            {% if preview %}
                <div class="alert alert-info" role="alert">
                    <strong>Projekt jest ukryty</strong> i jest widoczny tylko dla administratorów strony.
                </div>
            {% endif %}
            <div class="info col-lg-4 col-xs-12 m-b-0 text-lg-right text-md-left text-sm-left text-xs-left">
                <span class="title m-b-1">{{record.name|upper}}</span>
                {% if record.partnership == true %}
                    <br><small>{{'akcja partnerska'|_|upper}}</small>
                {% endif %}
                <hr>
                <div class="col-md-12 m-t-1">
                    {% if record.start_date or record.end_date %}
                        <a href="#time" class="page-scroll col-lg-6 col-md-3 col-sm-3 col-xs-4 m-b-1 small">{{'Czas'|_|upper}}&nbsp;<i class="fa fa-chevron-down"></i></a>
                    {% endif %}
                    {% if record.members|length > 0 %}
                        <a href="#members" class="page-scroll col-lg-6 col-md-3 col-sm-3 col-xs-4 m-b-1 small">{{'Twórcy'|_|upper}}&nbsp;<i class="fa fa-chevron-down"></i></a>
                    {% endif %}
                    {% if record.dish|length > 0 %}
                        <a href="#menu" class="page-scroll col-lg-6 col-md-3 col-sm-3 col-xs-4 m-b-1 small">{{'Menu'|_|upper}}&nbsp;<i class="fa fa-chevron-down"></i></a>
                    {% endif %}
                    {% if record.location %}
                        <a href="#location" class="page-scroll col-lg-6 col-md-3 col-sm-3 col-xs-4 m-b-1 small">{{'Miejsce'|_|upper}}&nbsp;<i class="fa fa-chevron-down"></i></a>
                    {% endif %}
                    {% if record.images|length > 0 %}
                        <a href="#gallery" class="page-scroll col-lg-6 col-md-3 col-sm-3 col-xs-4 m-b-1 small">{{'Galeria'|_|upper}}&nbsp;<i class="fa fa-chevron-down"></i></a>
                    {% endif %}
                    {% if record.video|length > 0 %}
                        <a href="#videos" class="page-scroll col-lg-6 col-md-3 col-sm-3 col-xs-4 m-b-1 small">{{'Wideo'|_|upper}}&nbsp;<i class="fa fa-chevron-down"></i></a>
                    {% endif %}
                    {% if record.partner|length > 0 %}
                        <a href="#partners" class="page-scroll col-lg-6 col-md-3 col-sm-3 col-xs-4 m-b-1 small">{{'Partnerzy'|_|upper}}&nbsp;<i class="fa fa-chevron-down"></i></a>
                    {% endif %}
                </div>
            </div>
            <div class="content col-lg-8 col-xs-12 page-columns">
                {{record.description|raw|orphans}}
            </div>
            <div class="col-lg-2 col-xs-5 col-lg-offset-10 col-xs-offset-7">
                <div class="SocialSharingButtons">
                    {% if(share.property('twitter'))     %}<a data-toggle="tooltip" href="http://twitter.com/home?status={{ (this.page.title ~ ' ' ~ url_current())|url_encode }}" title="{{'Udostępnij na'|_}}&nbsp;Twitter" target="_blank"><i class="fa fa-twitter"></i></a>{% endif %}
                    {% if(share.property('facebook'))    %}<a data-toggle="tooltip" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{ url_current()|url_encode }}', 'sharer', 'toolbar=0,status=0,width=626,height=436'); return false;" href="#" title="{{'Udostępnij na'|_}}&nbsp;Facebook" target="_blank"><i class="fa fa-facebook"></i></a>{% endif %}
                    {% if(share.property('google+'))     %}<a data-toggle="tooltip" href="https://plus.google.com/share?url={{ (this.page.title ~ ' ' ~ url_current())|url_encode }}" title="{{'Udostępnij na'|_}}&nbsp;Google+" target="_blank"><i class="fa fa-google-plus"></i></a>{% endif %}
                    {% if(share.property('stumbleupon')) %}<a data-toggle="tooltip" href="http://www.stumbleupon.com/submit?url={{ (this.page.title ~ ' ' ~ url_current())|url_encode }}" title="{{'Udostępnij na'|_}}&nbsp;StumbleUpon" target="_blank" data-placement="top"><i class="fa fa-stumbleupon"></i></a>{% endif %}
                    {% if(share.property('linkedin'))    %}<a data-toggle="tooltip" href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary={{ (this.page.title ~ ' ' ~ url_current())|url_encode }}" title="{{'Udostępnij na'|_}}&nbsp;LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a>{% endif %}
                </div>
            </div>
        </div>
        
        {#----     CZAS      -----#}
        {#------------------------------------------------------------------------------#}
        {% if record.start_date or record.end_date %}
            <div class="row" id="time"><div class="col-md-12"><hr class="separator"></div></div>
            <div class="row">
                <div class="col-lg-4 col-xs-4 m-b-2 text-md-right text-xs-right">
                    <span class="section-label m-b-1">{{'Czas'|_|upper}}</span>
                </div>
                <div class="col-lg-8 col-xs-7"><a href="#" data-toggle="tooltip" title="{{'Wróć do góry strony'|_}}" class="up"><i class="fa fa-chevron-up"></i></a></div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-xs-4 text-md-right text-xs-right">
                    <span class="prop-label">{{'Realizacja'|_|upper}}</span>
                </div>
                <div class="section col-lg-8 col-xs-7">
                    <span class="prop">{% if record.start_date %}{{localizeDate(record.start_date|date('F Y'), activeLocale)}}{% endif %}{% if record.start_date and record.end_date %} – {% endif %}{% if record.end_date %}{{localizeDate(record.end_date|date('F Y'), activeLocale)}}{% endif %}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-xs-4 text-md-right text-xs-right">
                    <span class="prop-label">{{'Finał'|_|upper}}</span>
                </div>
                <div class="section col-lg-8 col-xs-7">
                    <span class="prop">{% if record.end_date %}{{localizeDate(record.end_date|date('d F Y'), activeLocale)}}{% endif %}</span>
                </div>
            </div>
        {% endif %}
        
        {#----     TWÓRCY      -----#}
        {#------------------------------------------------------------------------------#}
        {% if record.members|length > 0 %}
            <div class="row" id="members"><div class="col-md-12"><hr class="separator"></div></div>
            <div class="row">
                <div class="col-lg-4 col-xs-4 m-b-2 text-md-right text-xs-right">
                    <span class="section-label m-b-1">{{'Twórcy'|_|upper}}</span>
                </div>
                <div class="col-lg-8 col-xs-7"><a href="#" data-toggle="tooltip" title="{{'Wróć do góry strony'|_}}" class="up"><i class="fa fa-chevron-up"></i></a></div>
            </div>
            {% for function in record.members %}
                <div class="row">
                    <div class="col-lg-4 col-xs-4 text-md-right text-xs-right">
                        <span class="prop-label">{{localizeFunction(function.function, activeLocale)|upper}}</span>
                    </div>
                    {% for member in function.responsible %}
                        <div class="col-lg-4 col-xs-4 text-md-right"></div>
                        <div class="section col-lg-8 col-xs-7">
                            <span class="prop"><a href="{{'people' | page({ member: slug(member.member) })}}">{{member.member}}</a></span>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}
        
        {#----     MENU      -----#}
        {#------------------------------------------------------------------------------#}
        {% if record.dish|length > 0 %}
            <div class="row" id="menu"><div class="col-md-12"><hr class="separator"></div></div>
            <div class="row">
                <div class="col-lg-4 col-xs-4 m-b-2 text-md-right text-xs-right">
                    <span class="section-label m-b-1">{{'Menu'|_|upper}}</span>
                </div>
                <div class="col-lg-8 col-xs-7"><a href="#" data-toggle="tooltip" title="{{'Wróć do góry strony'|_}}" class="up"><i class="fa fa-chevron-up"></i></a></div>
            </div>
            {% for dish in record.dish %}
                <div class="row">
                    <div class="col-lg-4 col-xs-4 text-md-right text-xs-right">
                        <span class="prop-label">{{dish.name|upper}}</span>
                    </div>
                    <div class="section col-lg-8 col-xs-7">
                        <span class="prop">{{dish.description|trim|orphans}}</span>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        
        {#----     MIEJSCE      -----#}
        {#------------------------------------------------------------------------------#}
        {% if record.location %}
            <div class="row" id="location"><div class="col-md-12"><hr class="separator"></div></div>
            <div class="row">
                <div class="col-lg-4 col-xs-4 m-b-2 text-md-right text-xs-right">
                    <span class="section-label m-b-1">{{'Miejsce'|_|upper}}</span>
                </div>
                <div class="col-lg-8 col-xs-7"><a href="#" data-toggle="tooltip" title="{{'Wróć do góry strony'|_}}" class="up"><i class="fa fa-chevron-up"></i></a></div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-xs-12 text-md-right text-xs-right m-b-1">
                    <span class="prop-label">{{record.location|upper}}</span>
                </div>
                <div class="section map_container col-lg-8 col-xs-12">
                    {#<div id="map_canvas" class="map_canvas"></div>#}
                    <iframe
                      class="map_canvas"
                      frameborder="0" style="border:0"
                      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAlzZY1u7sKEKeNLkxSExmOyEPJEaEEnjM&language={{activeLocale}}&maptype=satellite&q={{record.location}}" allowfullscreen>
                    </iframe>
                </div>
            </div>
        {% endif %}
        
        {#----     GALERIA      -----#}
        {#------------------------------------------------------------------------------#}
        {% if record.images|length > 0 %}
            <div class="row" id="gallery"><div class="col-md-12"><hr class="separator"></div></div>
            <div class="row">
                <div class="col-lg-4 col-xs-4 m-b-2 text-md-right text-xs-right">
                    <span class="section-label m-b-1">{{'Galeria'|_|upper}}</span>
                </div>
                <div class="col-lg-8 col-xs-7"><a href="#" data-toggle="tooltip" title="{{'Wróć do góry strony'|_}}" class="up"><i class="fa fa-chevron-up"></i></a></div>
            </div>
            <div class="row">
                <div class="gallery col-md-12 clearfix">
                    {% for image in record.images %}
                      <a class="gallery-item no-outline" href="{{image.path}}"><img style="width:100%;" src="{{image.thumb(200, 'auto')}}" /></a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        
        {#----     VIDEO      -----#}
        {#------------------------------------------------------------------------------#}
        {% if record.video|length > 0 %}
            <div class="row" id="videos"><div class="col-md-12"><hr class="separator"></div></div>
            <div class="row">
                <div class="col-lg-4 col-xs-4 m-b-2 text-md-right text-xs-right">
                    <span class="section-label m-b-1">{{'Wideo'|_|upper}}</span>
                </div>
                <div class="col-lg-8 col-xs-7"><a href="#" data-toggle="tooltip" title="{{'Wróć do góry strony'|_}}" class="up"><i class="fa fa-chevron-up"></i></a></div>
            </div>
            {% set videos_count = record.video|length %}
            {% for video in record.video %}
                <div class="row {% if videos_count > 1 %}m-b-2{% endif %}">
                    <div class="col-xl-5 col-lg-5 {% if videos_count == 1 %}col-md-12{% else %}col-md-5 text-md-right{% endif %} col-xs-12 text-xs-center text-xl-right text-lg-right">
                        {{video.description|raw|orphans}}
                    </div>
                    <div class="section col-xs-12 {% if videos_count == 1 %}col-xl-7 col-lg-7 col-md-12{% else %}col-xl-7 col-lg-7 col-md-7 m-b-2{% endif %}">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{video(video.url)}}?rel=0&showinfo=0&color=white&iv_load_policy=3"></iframe>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        
        {#----     PARTNERZY      -----#}
        {#------------------------------------------------------------------------------#}
        {% if record.partner|length > 0 %}
            <div class="row" id="partners"><div class="col-md-12"><hr class="separator"></div></div>
            <div class="row">
                <div class="col-lg-4 col-xs-4 m-b-2 text-md-right text-xs-right">
                    <span class="section-label m-b-1">{{'Partnerzy'|_|upper}}</span>
                </div>
                <div class="col-lg-8 col-xs-7"><a href="#" data-toggle="tooltip" title="{{'Wróć do góry strony'|_}}" class="up"><i class="fa fa-chevron-up"></i></a></div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-xs-4 hidden-sm-down">
                    <span class="prop-label"></span>
                </div>
                <div class="section col-lg-8 col-xs-12">
                    {% for partner in record.partner %}
                        <a title="{{ partner.name }}" data-toggle="tooltip" href="{% spaceless %}{{partner.url}}{% endspaceless %}" target="_blank" class="partner no-outline col-md-3 col-md-offset-1 col-xs-offset-0 col-xs-offset-1 col-xs-5 m-b-3"><img class="img-fluid" src="{{partner.logotype.path}}"></a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        
    {% else %}
        {{ notFoundMessage }}
    {% endif %}
</div>