<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('indikator/news/subscribers') ?>"><?= e(trans('ms1design.root::lang.menu.subscribers')) ?></a></li>
        <li><?= e(trans($this->pageTitle)) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <?= Form::open(['class'=>'layout']) ?>

        <div class="layout-row">
            <?= $this->formRender() ?>
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="submit"
                    data-request="onSave"
                    data-request-data="redirect:0"
                    data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="<?= e(trans('backend::lang.form.saving_name', ['name'=>$formRecordName])) ?>"
                    class="btn btn-primary">
                    <?= e(trans('backend::lang.form.save')) ?>
                </button>
                <button
                    type="button"
                    data-request="onSave"
                    data-request-data="close:1"
                    data-hotkey="ctrl+enter, cmd+enter"
                    data-load-indicator="<?= e(trans('backend::lang.form.saving_name', ['name'=>$formRecordName])) ?>"
                    class="btn btn-default">
                    <?= e(trans('backend::lang.form.save_and_close')) ?>
                </button>
                <span class="btn-text">
                    <?= e(trans('backend::lang.form.or')) ?> <a href="<?= Backend::url('indikator/news/subscribers') ?>"><?= e(trans('backend::lang.form.cancel')) ?></a>
                </span>
                <?php if ($this->user->hasPermission('ms1design.root.content') || $this->user->hasPermission('ms1design.root.translate_and_edit')): ?>
                    <button
                        class="oc-icon-trash-o btn-icon danger pull-right"
                        data-request="onDelete"
                        data-load-indicator="<?= e(trans('backend::lang.form.deleting_name', ['name'=>$formRecordName])) ?>"
                        data-request-confirm="<?= e(trans('indikator.news::lang.flash.delete')) ?>">
                    </button>
                <?php endif ?>
            </div>
        </div>

    <?= Form::close() ?>

<?php else: ?>
    <div class="control-breadcrumb">
        <?= Block::placeholder('breadcrumb') ?>
    </div>
    <div class="padded-container">
        <p class="flash-message static error"><?= e(trans($this->fatalError)) ?></p>
        <p><a href="<?= Backend::url('indikator/news/subscribers') ?>" class="btn btn-default"><?= e(trans('indikator.news::lang.buttons.return')) ?></a></p>
    </div>
<?php endif ?>
