subject = "Newsletter"
==

<p>Dear {{ name }},</p>
<p>New post on Food Think Tank:</p>
<br>
<p><em>{{ title }}</em><br>
{{ introductory|raw }}</p>
<p>{{ url }}{{ slug }}</p>
<br>
<p>Best regards,<br>
Food Think Tank</p>