subject = "Newsletter"
==

<p>{{ name }},</p>
<p>Przeczytaj nowe aktualności:</p>
<br>
<p><em>{{ title }}</em><br>
{{ introductory|raw }}</p>
<p>{{ url }}{{ slug }}</p>
<br>
<p>Pozdrawiamy,<br>
Food Think Tank</p>