body {
	font-family: $font-family-base;
	font-style: $font-style-base;
	font-weight: $font-weight-base;
	background-color: $color-white;
	color: $base-text-color;
	line-height: $line-height-base;
	@include ms-respond(font-size, 0);
}

i.fa {
	color: darken($color-light-gray, 20%);
}

.tooltip-inner {
	font-size: 13px;
}

hr {
	&.separator {
		width: 100%;
		margin: 60px 0 40px 0;
	}
}

a {
	color: $color-black;
    text-decoration: none;
    background-color: transparent;
    &:hover {
    	color: $color-gray;
    }
}

ul.pagination {
	li {
		a {
			color: $color-gray;
		    text-decoration: none;
		    background-color: transparent;
		    &:hover {
		    	color: $color-black;
		    }
		}
		&.active {
			a {
				background-color: $color-gray !important;
				border-color: $color-gray !important;
				color: $color-white;
				pointer-events: none;
			}
		}
	}
}

.page-content {
	margin-top: 40px;
	margin-bottom: 40px;
	&.banner{
		padding: 0;
		margin: 0;
		height: 350px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.page-title {
		font-weight: bold;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	    @include ms-respond(font-size, 1);
	}
	.page-columns {
		min-height: auto;
		@include media-breakpoint-up(md) {
			-webkit-column-count: 2; /* Chrome, Safari, Opera */
		    -moz-column-count: 2; /* Firefox */
		    column-count: 2;
			-moz-column-gap: 40px;
			-webkit-column-gap: 40px;
			column-count: 2;
			column-gap: 40px;
		}
		.span-two-columns {
			-webkit-column-span: all; /* Chrome, Safari, Opera */
			-moz-column-span: all; /* Chrome, Safari, Opera */
    		column-span: all;
    		display: block;
		}
	}
}

.SocialSharingButtons {
	margin: 0 auto;
	display: table;
	table-layout: auto;
	float: none;
	width: 100%;
	& > a {
		display: table-cell;
        float: none;
        text-align: center;
	}
}