footer {
	background: lighten($color-black, 10%);
	color: darken($color-white, 30%);
	padding: 50px 0;
	margin-top: 0;
	width: 100%;
	@include media-breakpoint-down(md) {
		font-size: $font-size-base - 8px;
	}
	strong {
		color: darken($color-white, 10%) !important;
	}

	.content {
		.row {
			margin-bottom: 50px;
			&:last-of-type {
				margin-bottom: 0px;
			}
		}
	}

	.copy {
		color: darken($color-white, 40%) !important;
	}
	.small, .small a {
		color: darken($color-white, 70%) !important;
	}

	a {
		color: darken($color-white, 30%);
		&:hover, &:active, &:link, &:visited {
			color: $color-white;
		}
		i.fa {
			color: darken($color-white, 30%);
			font-size: $font-size-base * 1.5 !important;
		}
		&:hover {
			text-decoration: underline;
			i.fa {
				color: $color-white;
				text-decoration: none;
			}
		}
		&.btn-secondary-outline {
			i.fa {
				font-size: $font-size-base !important;
			}
			&:hover {
				background-color: transparent !important;
				border-color: $color-white;
			}
		}
	}
}