.main-menu {
    // @include media-breakpoint-down(sm) {
    //     padding-left: 0;
    //     padding-right: 0;
    // }
}

.navbar {
    margin-top: 40px;
    @include media-breakpoint-down(sm) {
        margin-top: 10px;
        padding: 0;
        .col-xs-10, .col-xs-2 {
            height: 50px;
        }
    }
    .navbar-toggler {
    	float: right;
    	margin:0;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        position: absolute;
        top: 50%;
        right: 0;
    }
    .logotype {
    	border-bottom: solid $color-light-gray 1px;
		margin-bottom: 20px;
		padding-bottom: 25px;
		width: 100%;
        @include media-breakpoint-down(sm) {
            margin-bottom: 0;
            padding-bottom: 0;
            border: none;
            -ms-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            position: absolute;
            top: 45%;
            left: 1rem;
            padding-right: 1rem;
        }
    }
    .collapsing {
    	width: 100%;
    }
    .navbar-nav {
    	& > li {
    		a {
    			font-weight: normal;
    		}

    		&.active {
    			a {
    				font-weight: bold;
    			}
    		}
    		&.lang-picker {
                @include media-breakpoint-down(sm) {
                    margin-top: 20px;
                }
    			a {
    				color: lighten($color-gray, 50%);
    				font-size: $font-size-base - 3;
    				letter-spacing: 1px;
    				&:hover, &.active {
    					color: $color-gray;
    					text-decoration: underline;
    				}
    			}
    			span.separator {
    				color: lighten($color-gray, 60%);
                    @include media-breakpoint-down(sm) {
                        width: 50px;
                        display: inline-block;
                    }
    			}
    		}
    	}
    }
    @include media-breakpoint-up(md) {
	    .navbar-nav {
			margin: 0 auto;
			display: table;
			table-layout: auto;
			float: none;
			width: 100%;
			& > li {
		        display: table-cell;
		        float: none;
		        text-align: center;
		    }
	    }
	}
	@include media-breakpoint-down(sm) {
		.navbar-nav {
			& > li {
				margin-left: 0 !important;
				width: 100%;
    			text-align: center;
    			border-bottom: solid $color-light-gray 1px;
    			&:last-of-type {
    				border-bottom: none;
    			}
	    		a {
	    			padding: 10px 0;	
	    		}
			}
		}
	}
}