.no-click {
	pointer-events: none;
}
.no-outline:focus {
  outline: none;
}
.center-block {
	float: none;
}
.vertical-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}