.member-wrap {
    @include media-breakpoint-down(xs) {
        margin-top: 1rem !important;
    }
}
.member-card {
	position: relative;
	width: 100%;
    display: block;
    height: 320px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    text-decoration: none;

    .info {
    	width: 100%;
	    display: block;
	    background: rgba($color-black, 0.7);
	    padding: 10px 5px;
	    position: absolute;
	    bottom: 0;
    	span {
    		display: block;
    		width: 100%;
    		text-align: center;
    		color: $color-white;
    		text-decoration: none;
            font-size: $font-size-base - 2;
    		&.name {
    			font-weight:bold;
                text-decoration: none;
    		}
            &.business {
                margin-top: 5px;
                color: darken($color-white, 30%);
                line-height: $line-height-base / 1.3;
                text-decoration: none;
            }
    	}
    }

    &.ex-member {
        opacity: 0.4;
    }

    @include media-breakpoint-down(xs) {
        height: auto;
        width: 30vw;
        overflow: visible;
        background-position-y: 20%;
        min-height: 90px;
        .info {
            position: relative;
            width: calc(70vw - 2rem);
            left: 30vw;
            min-height: 90px;
            bottom: 0 !important;
        }
    }

}

.profile {
    .info {
        display: block;
        span {
            display: block;
            width: 100%;
            font-weight: 400;
            &.name {
                font-size: $font-size-base + 0.25;
            }
            &.title, &.business {
                font-weight: $font-weight-base;
                @include ms-respond(font-size, 0);
            }
            &.title {
                font-weight: 500;
            }
            &.business {
                font-size: $font-size-base - 0.1;
                margin-bottom: 5px;
            }
        }
    }
    .bio {
        .avatar {
            width: 100%;
        }
        p {

        }
    }
}