.news {
	.thumbnail {
	}
	h1.title {
		@include ms-respond(font-size, 1.3);
		line-height: $ms-ratio - 0.3;
	}
	.lead {
		@include ms-respond(font-size, 0);
		line-height: $ms-ratio + 0.3;
		font-weight: bold;
	}
	.news-content {
		@include ms-respond(font-size, 0);
		line-height: $ms-ratio + 0.3;
	}
	.post {
			a {
				img {
					width: 100%;
				}
				&:nth-last-child(1):nth-child(even) {
					width: 100%;
					margin-bottom: 2em !important;
				} 
			}
	}
}