.projects-list {
	padding: 0;

	a {
		position: relative;
		width: 100%;
	    height: 550px;
	    display: block;
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: center 40%;
	    @include media-breakpoint-down(sm) {
			height: 400px;
			background-position: center;
	    }

	    .logo {
			img {
		    	width: 100%;
				max-width: 110px;
				float: right;
			}
	    }

	    .info {
	    	display: block;
		    width: 100%;
		    position: absolute;
		    bottom: 0;
		    background-color: rgba($color-black, 0.7);
		    padding: 25px 0;

		    span {
		    	color: $color-white;
		    	width: 100%;
		    	display: block;
			    &.title {
			    	@include ms-respond(font-size, 1.4);
				    letter-spacing: 1px;
				    font-weight: 500;
				    margin-bottom: 15px;
			    }
			    &.location, &.date {
			    	display: inline-block;
			    	@include ms-respond(font-size, 0);
			    }
			    &.date {
			    	margin: 0;
			    	color: darken($color-white, 40%);
			    	font-weight: $font-weight-base;
			    }

		    }
	    }
	}
}

.single-project {
	.row {
		.info {
			a.page-scroll {
				i.fa {
					font-size: 12px;
				    font-weight: lighter;
				    margin-left: 5px;
				    color: $color-light-gray;
				}
			}
		}
		.section {
			&:last-of-type {
				margin-bottom: 10px;
			}
		}
		span {
			&.title {
				@include ms-respond(font-size, 1.4);
			}
			&.title, &.section-label {
				font-weight: bold;
				letter-spacing: 1px;
			}
			&.section-label {
				font-size: $font-size-base + 0.2;
			}
			&.prop-label {
				font-weight: 500;
				margin-bottom: 10px;
			}
		}
		.section {
			&.map_container {
				position: relative;
			    padding-bottom: 46.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
				.map_canvas {
					position: absolute;
				    top: 0;
				    right: 0;
				    bottom: 0;
				    left: 0;
				    margin: 0;
				    padding: 0;
				    width: 100%;
    				height: 100%;
				}
			}
			.partner {
				display: inline-block;
				float: left;
				img {
					width: 100%;
				}
			}
		}
		.gallery {
			.gallery-item {
				@include media-breakpoint-down(xl) {
					width: calc(20% - 15px);
				}
				@include media-breakpoint-down(lg) {
					width: calc(25% - 15px);
				}
				@include media-breakpoint-down(md) {
					width: calc(33% - 15px);
				}
				@include media-breakpoint-down(sm) {
					width: calc(50% - 30px);
				}
			}
		}
	}
}
