// ============================================================
// COLORS
// ============================================================

$color-white: 				#fff;
$color-black: 				#000;
$color-gray: 				#333;
$color-light-gray: 			#eee;

$brand-color-primary: 		#da5350; 

$base-text-color: 			$color-gray;
$base-link-color: 			#da5350;

// ============================================================
// TYPOGRAPHY
// ============================================================

$font-family-sans-serif:  	"Source Sans Pro", Helvetica, Arial, sans-serif;
$font-family-serif:       	Georgia, "Times New Roman", Times, serif;
$font-family-monospace:   	Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:        	$font-family-sans-serif;

$font-size-base:          1em; // 16px;
$font-style-base: 		  normal;
$font-weight-base: 		  300;
$font-size-large:         ceil(($font-size-base * 1.25)); // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)); // ~12px

// modular scale
$ms-base: 1em;
$ms-ratio: $golden;
//$ms-fluid: false;
$ms-range:
	1.1 20em,
	1.7 60em;

$font-size-h1:            floor(($font-size-base * 2.6)); // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)); // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)); // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)); // ~18px
$font-size-h5:            $font-size-base;
$font-size-h6:            ceil(($font-size-base * 0.85)); // ~12px

$line-height-base:        $golden; // 1.428571429; // 20/14
$line-height-computed:    floor(($font-size-base * $line-height-base)); // ~20px

$headings-font-family:    inherit;
$headings-font-weight:    500;
$headings-line-height:    1.1;
$headings-color:          inherit;