description = "Bootstrap 4 Layout"

[localePicker]

[form]
==
{% spaceless %}
<!doctype html>
<html lang="{{ activeLocale|split('_')[0] }}" dir="ltr">
    {% placeholder head default %}
        <head>
    {% endplaceholder %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="{{ 'assets/images/favicon.ico' | theme }}" type="image/vnd.microsoft.icon" />
    {% placeholder meta default %}
        <title>{{ this.page.title }}</title>
        <meta name="description" content="{{ html_strip(content.record.content|default(this.page.description)) }}">
        <meta property="og:description" content="{{ html_strip(content.record.content|default(this.page.description)) }}"/>
        <meta property="og:image" content="{{ 'assets/images/ftt-fb-social.jpg' | theme }}"/>
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ this.page.title }}">
        <meta property="og:url" content="{{ page | page }}">
        <meta name="author" content="MS/1 Design" />
        <meta property="fb:page_id" content="350055628507877" />
    {% endplaceholder %}
    {% for code, name in locales %}
        {% if code != activeLocale %}
            <meta property="og:locale:alternate" content="{{code}}" />
        {% endif %}
    {% endfor %}
    
    <meta property="fb:app_id" content="230376033981527" />
    <meta property="fb:pages" content="350055628507877">
    <meta property="fb:admins" content="100000604801117">
    <meta property="fb:admins" content="1451842625">
    <meta property="fb:profile_id" content="1451842625">
    <meta property="og:site_name" content="Food Think Tank" />
    <meta property="og:locale" content="{{activeLocale}}" />
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="" />

    {% styles %}
    
    <link href="{{ [
        'assets/vendor/cookie-notice/css/jquery-eu-cookie-law-popup.css',
        'assets/scss/style.scss',
        'assets/vendor/font-awesome/css/font-awesome.min.css',
        'assets/vendor/animate.css/animate.min.css',
        'assets/vendor/light-gallery/dist/css/lightgallery.css'
        ]|theme }}" rel="stylesheet" media="all">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,regular&amp;subset=latin-ext" media="all" />
  <style>
      _::-webkit-:not(:root:root), .page-content .page-columns { min-height: 100%; }
  </style>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
  <!-- FTT Google Analytics -->
  <script  type="text/javascript">
        (function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,"script","//www.google-analytics.com/analytics.js","ga");ga("create", "UA-60569548-1", {"cookieDomain":"auto"});ga("set", "anonymizeIp", true);ga("send", "pageview");
  </script>
  <!-- FTT Google Analytics -->
</head>
    
    {% partial 'layout/header' %}
    
    {% page %}
    
    {% partial 'layout/footer' %}
    
    {% partial 'layout/subscribe' %}

  <script src="{{ [
    '@jquery',
    'assets/js/tether.min.js',
    'assets/vendor/bootstrap/dist/js/bootstrap.min.js',
    'assets/vendor/wow/dist/wow.min.js',
    'assets/vendor/holderjs/holder.min.js',
    'assets/vendor/easteregg/jquery.easteregg.min.js',
    'assets/vendor/images-loaded/imagesloaded.pkgd.min.js',
    'assets/vendor/packery/packery.pkgd.min.js',
    'assets/vendor/light-gallery/dist/js/lightgallery.min.js',
    'assets/js/ie10-viewport-bug-workaround.js',
    'assets/vendor/cookie-notice/js/jquery-eu-cookie-law-popup.js',
    'assets/js/scripts.js',
  ]|theme }}"></script>
    <!-- FTT Panel -->
    <script type="text/javascript">
        $(document).euCookieLawPopup().init({
            cookiePolicyUrl : 'http://www.wimagguc.com/?cookie-policy',
            popupPosition : 'bottomright',
            colorStyle : 'inverse',
            compactStyle : true,
            popupTitle : "{{'Strona FTT używa plików Cookies'|_}}",
            popupText : "{{'Każdy ma możliwość wyłączenia ich w przeglądarce, dzięki czemu nie będą zbierane żadne informacje.'|_}}",
            buttonContinueTitle : "{{'Akceptuję'|_}}",
            buttonLearnmoreTitle : "{{'Dowiedz się więcej'|_}}",
            buttonLearnmoreOpenInNewWindow : true,
            agreementExpiresInDays : 365,
            autoAcceptCookiePolicy : false,
            htmlMarkup : null
        });

          var _smid = "49a81i3vjbyummod";
          (function() {
            var sm = document.createElement('script'); sm.type = 'text/javascript'; sm.async = true;
            sm.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'www.salesmanago.pl/static/sm.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sm, s);
          })();

    </script>
    <!-- FTT Panel -->

{% framework extras %}
{% scripts %}
<script type="text/javascript">
    /*
     * jQuery Copyright plugin 0.1.1 
     * https://github.com/absentik/copyright
     * 
     * Author: Seleznev Alexander (ABSENT) 
     * Email: absenteg@gmail.com 
     * Website: http://whoisabsent.ru 
     *  
     * Licensed under the MIT license. 
     * http://www.opensource.org/licenses/mit-license.php 
     */
    
    ;(function($, window, document, undefined){
    
        var pluginName = "copyright";
        var defaults = {
            text: "<br>Original: " + window.location.href, 
            minlength: 0, 
            processing: undefined
        };
    
        function Copyright(element, options) {
            this.element = element;
            this._defaults = defaults;
            this._name = pluginName;
            this.options = $.extend({}, defaults, options);
            this.action = typeof options === "string" ? options : "default";
            this.init();
        }
    
        Copyright.prototype.getSelectedText = function() {
            var text = "";
            if (window.getSelection) {
                text = window.getSelection().toString();
            } else if (document.selection) {
                text = document.selection.createRange().text;
            }
            return text;
        };
    
        Copyright.prototype.setSelectionRange = function() {
            if (window.getSelection) {
                var range = document.createRange();
                range.selectNodeContents(this.div);
                var sel = window.getSelection();
                sel.removeAllRanges();
                sel.addRange(range);
            } else if (document.selection && document.body.createTextRange) {
                var textRange = document.body.createTextRange();
                textRange.moveToElementText(this.div);
                textRange.select();
            }
        };
    
        Copyright.prototype.removeSelectionRange = function() {
            if (window.getSelection) {
                window.getSelection().removeAllRanges();
            } else if (document.selection) {
                document.selection.empty();
            }
        };
    
        Copyright.prototype.saveSelectionRange = function() {
            if (window.getSelection) {
                sel = window.getSelection();
                if (sel.getRangeAt && sel.rangeCount) {
                    return sel.getRangeAt(0);
                }
            } else if (document.selection) {
                return document.selection.createRange();
            }
            return null;
        };
    
        Copyright.prototype.restoreSelectionRange = function() {
            if (this.range) {
                if (window.getSelection) {
                    sel = window.getSelection();
                    sel.removeAllRanges();
                    sel.addRange(this.range);
                } else if (document.selection) {
                    this.range.select();
                }
            }
            else {
                this.it.removeSelectionRange();
            }
        };
    
        Copyright.prototype.copy = function() {
            var it = this;
            var body = $("body");
            var selectText = it.getSelectedText();
            var range = it.saveSelectionRange(body[0]);
    
            if (selectText.length > it.options.minlength) {
                if (typeof it.options.processing == "function") {
                    selectText = it.options.processing(selectText);
                }
                selectText += it.options.text;
            }
    
            var div = $("<div/>", { 
                html: selectText, 
                style: "width: 1px; height: 1px; overflow: hidden; position: absolute; top: -99999px; left: -99999px; opacity: 0.01" 
            }).appendTo(body);
            it.setSelectionRange.call({ div: div[0] });
    
            //after copy function
            window.setTimeout(function() {
                it.restoreSelectionRange.call({ it: it, range: range });
                div.remove();
                return $(it.element).trigger(pluginName + "_AfterCopy");
            }, 0);
    
            return $(it.element).trigger(pluginName + "_BeforeCopy");
        };
    
        Copyright.prototype.remove = function() {
            var it = this;
            $(it.element).off("copy");
        };
    
        Copyright.prototype.start = function() {
            var it = this;
            $(it.element).on("copy", function() { 
                it.copy(); 
            });
        };
    
        Copyright.prototype.init = function() {
            switch (this.action) {
                case "remove":
                    return this.remove();
                break;
                default:
                    return this.start();
                break;
            }
        };
    
        $.fn[pluginName] = function (options) {
            return this.each(function () {
                $.data(this, 'plugin_' + pluginName, new Copyright(this, options));
            });
        }
    
    })(jQuery, window, document);
</script>

{% set texts_copy = 'Ewa Olczyk' %}
{% set texts_copy_email = 'olczyk@foodthinktank.pl' %}

{#{% set texts_copy = record.created_by|default('Ewa Olczyk') %}#}
{#{% set texts_copy_email = html_email('ftt@foodthinktank.pl') %}#}

<script>
    $(function(){
        $(document).copyright({
        	text: "<br><br>&mdash;&mdash;&mdash;<br>©&nbsp;2013&mdash;{{'now'|date('Y')}}&nbsp;&mdash;&nbsp;<a target='_blank' href='{{''|app }}'>Food&nbsp;Think&nbsp;Tank</a><br>{{'Tekst'|_}}:&nbsp;{{texts_copy}}&nbsp;&mdash;&nbsp;<a href='mailto:{{html_email(texts_copy_email)}}'>{{texts_copy_email}}</a><br>{{'Źródło'|_}}:&nbsp;<a href='" + window.location.href + "' target='_blank'>" + window.location.href + "</a>",
        	minlength: 10
        }); 
    });
</script>

</body>
</html>
{% endspaceless %}