description = "Footer"
==
<footer class="container-fluid">
        <div class="row">
            <div class="container content">
                <div class="row m-b-0">
                    <div class="col-md-2 hidden-sm-down">
                        {{'Kontakt'|_|upper}}
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <address>
                            <strong>{{'Biuro'|_|lower}}</strong><br>
                            <a href="mailto:{{html_email('ftt@foodthinktank.pl')|raw}}">{{html_email('ftt@foodthinktank.pl')}}</a>
                        </address>
                        <address>
                            <strong>{{'Media'|_|lower}}</strong><br>
                            Ewa Olczyk<br>
                            <a href="mailto:{{html_email('olczyk@foodthinktank.pl')|raw}}">{{html_email('olczyk@foodthinktank.pl')}}</a>
                        </address>
                        <address>
                            <strong>{{'Pracownia'|_|lower}}</strong><br>
                            ul. Kościuszki 55<br>
                            50-009 Wrocław<br>
                            <a href="mailto:{{html_email('pracownia@foodthinktank.pl')|raw}}">{{html_email('pracownia@foodthinktank.pl')}}</a>
                        </address>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 m-b-1">
                        
                        <address>
                            <strong>{{'Koordynator'|_|lower}}</strong><br>
                            Tomasz Hartman<br>
                            <a href="mailto:{{html_email('hartman@foodthinktank.pl')|raw}}">{{html_email('hartman@foodthinktank.pl')}}</a>
                        </address>
                        <p>
                            <strong>{{'Newsletter'|_|lower}}</strong><br>
                            <a href="#" class="no-outline" data-toggle="modal" data-target="#subscribe">{{'Zapisz się do naszego newslettera.'|_}}</a>
                        </p>
                        
                    </div>
                    
                    <div class="col-md-2 col-sm-6 col-xs-6 col-lg-offset-0 col-md-offset-0 col-sm-offset-6">
                        <a class="col-md-4 text-md-right text-sm-left" href="https://www.facebook.com/foodthinktank" data-toggle="tooltip" title="{{'Odwiedź Food Think Tank na Facebooku'|_}}" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a class="col-md-4 text-md-right text-sm-left" href="https://www.youtube.com/channel/UCr4bE-9MSJMiT981tH3hq0A" data-toggle="tooltip" title="{{'Subskrybuj kanał Food Think Tank na YouTube'|_}}" target="_blank"><i class="fa fa-youtube"></i></a>
                        <a class="col-md-4 text-md-right text-sm-left" href="https://www.instagram.com/food_think_tank/" data-toggle="tooltip" title="{{'Odwiedź Food Think Tank na Instagramie'|_}}" target="_blank"><i class="fa fa-instagram"></i></a>
                        <p>
                            <a href="{{'contact'|page(false)}}#presspack" class="btn btn-secondary-outline btn-sm m-t-2" id="presspack" data-toggle="tooltip" title="{{'Kliknij, aby pobrać materiały prasowe.'|_}}"><i class="fa fa-arrow-circle-o-down"></i>&nbsp;&nbsp;{{'Materiały prasowe'|_|lower}}</a>
                        </p>
                    </div>

                </div>
                <div class="row m-t-1">
                    <div class="col-md-12 m-b-0">
                        <p class="m-b-0 col-md-6 p-x-0 copy m-b-1">&copy; {{'Copyright'|_}} &mdash; <b>Food Think Tank</b> 2013&nbsp;&mdash;&nbsp;{{'now'|date('Y')}}</p>
                        <p class="small col-md-6 p-x-0 text-md-right">c&nbsp;o&nbsp;d&nbsp;e&nbsp;&mdash;&nbsp;<a href="http://syty.com.pl" target="_blank" class="no-outline">MS/1&nbsp;Design</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>