description = "Header"
==
<body class="{{ this.page.baseFilename }} lang-{{ activeLocale }}">
    
    <div class="container main-menu">
        <nav class="navbar navbar-light">
          <div class="row">
              <div class="col-md-12 col-sm-10 col-xs-10">
                  <a class="logotype no-outline navbar-brand" href="{{ '/' | app }}">
                    <img class="landscape img-fluid" src="{{ 'assets/images/ftt_logo.png' | theme }}" alt="Food Think Tank">
                  </a>
              </div>
              <div class="col-sm-2 col-xs-2">
        <button class="navbar-toggler hidden-md-up no-outline" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">&#9776;</button>
              </div>
          </div>
          <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
            <ul class="nav navbar-nav">
              <li class="nav-item {{ this.page.baseFilename == 'home' ? 'active' }}">
                <a class="nav-link" href="{{ ''|app }}">{{'Aktualności'|_|lower}}</a>
              </li>
              <li class="nav-item {{ this.page.baseFilename == 'projects' ? 'active' }}">
                <a class="nav-link" href="{{ 'projects'|page(false) }}">{{'Projekty'|_|lower}}</a>
              </li>
              <li class="nav-item {{ this.page.baseFilename == 'manifesto' ? 'active' }}">
                <a class="nav-link" href="{{ 'manifesto'|page(false) }}">{{'Manifest'|_|lower}}</a>
              </li>
              <li class="nav-item {{ this.page.baseFilename == 'people' ? 'active' }}">
                <a class="nav-link" href="{{ 'people'|page(false) }}">{{'Ludzie'|_|lower}}</a>
              </li>
              <li class="nav-item {{ this.page.baseFilename == 'fundation' ? 'active' }}">
                <a class="nav-link" href="{{ 'fundation'|page({locale: activeLocale}) }}">{{'Fundacja'|_|lower}}</a>
              </li>
              <li class="nav-item {{ this.page.baseFilename == 'contact' ? 'active' }}">
                <a class="nav-link" href="{{ 'contact'|page(false) }}">{{'Kontakt'|_|lower}}</a>
              </li>
              <li class="nav-item lang-picker">
                    {% for code, name in locales %}
                        <a href="#" {{ code == activeLocale ? 'class="active"' }} data-toggle="tooltip" title="{{ name }}" data-request="onSwitchLocale" data-request-data="locale: '{{ code }}'">{{ code|split('_')[0] | upper }}</a>
                        {% if loop.index < loop.length %}
                            <span class="separator no-click">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                        {% endif %}
                    {% endfor %}
              </li>
            </ul>
          </div>
        </nav>
    </div>