description = "Subscribe Modal"
==
<!-- Modal -->
<div class="modal fade" id="subscribe" tabindex="-1" role="dialog" aria-labelledby="Subscribe" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{'Zapisz się do newslettera Food think Tank'|_}}</h4>
      </div>
      <form data-request="onSubscription" data-request-success="alert('{{'Dziękujemy za zapisanie się do naszego newslettera!'|_}}');$('#subscribe').modal('hide')">
      <div class="modal-body">
        
            <div class="form-group">
                <label for="subscribersName">{{'Imię'|_}}</label>
                <input name="name" type="text" class="form-control" id="subscribersName" placeholder="{{'Wpisz swoje imię'|_}}">
            </div>
            
            <div class="form-group">
                <label for="newsletter_locale">{{'Wybierz język newslettera'|_}}</label>
                <select name="locale" id="newsletter_locale" class="form-control">
                    {% for code, name in locales %}
                        <option value="{{ code }}" {{ code == activeLocale ? 'selected' }}>{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
        
            <div class="form-group">
                <label for="subscribersEmail">{{'Adres E-mail'|_}}</label>
                <input name="email" type="email" class="form-control" id="subscribersEmail" placeholder="{{'Wpisz swój adres e-mail'|_}}">
            </div>
            
      </div>
      <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{'Anuluj'|_}}</button>
                <button type="submit" class="btn btn-secondary">{{'Wyślij'|_}}</button>
            </div>
        </form>
    </div>
  </div>
</div>