<?php Block::put('breadcrumb') ?>
    <ul>
        <li><?= e(trans('ms1design.root::lang.menu.translate')) ?></li>
    </ul>
<?php Block::endPut() ?>

<div class="padded-container">
    <?= $this->makeHintPartial('translation_messages_hint', 'hint') ?>
</div>

<?= Form::open(['id' => 'messagesForm', 'class'=>'layout-item stretch layout-column']) ?>

    <div id="messagesContainer">
        <?= $this->makePartial('messages') ?>
    </div>

    <!-- Passable fields -->
    <input type="hidden" name="locale_from" value="<?= $selectedFrom ? $selectedFrom->code : '' ?>" />
    <input type="hidden" name="locale_to" value="<?= $selectedTo ? $selectedTo->code : '' ?>" />

<?= Form::close() ?>

<!-- Set the Header values in the Grid -->
<script>
$(document).render(function(){
    $.translateMessages.setGridElement('#<?= $grid->getId() ?>')
    $.translateMessages.setTitleContents('#<?= $this->getId('fromTitle') ?>', '#<?= $this->getId('toTitle') ?>')
})
</script>

