.field-multilingual {
  position: relative;
}
.field-multilingual .btn {
  background: transparent;
  position: absolute;
  color: #8c8c8c;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  width: 44px;
  padding-right: 0;
}
.field-multilingual .btn:hover {
  color: #666666;
}
.field-multilingual.field-multilingual-text .form-control {
  padding-right: 44px;
}
.field-multilingual.field-multilingual-text .btn {
  right: 2px;
  top: 50%;
  margin-top: -44px;
  height: 88px;
}
.field-multilingual.field-multilingual-textarea .btn {
  right: 15px;
  top: 5px;
  text-align: right;
}
.field-multilingual.field-multilingual-textarea .dropdown-menu {
  top: 44px !important;
  right: 1px;
}
.field-multilingual.field-multilingual-richeditor .btn {
  top: 43px;
  right: 15px;
  text-align: right;
}
.field-multilingual.field-multilingual-richeditor .dropdown-menu {
  top: 74px;
  right: 1px;
}