<?php if ($this->user->hasPermission('ms1design.root.news') || $this->user->hasPermission('ms1design.root.translate_and_edit')): ?>
    <div data-control="toolbar">
        <a
            href="<?= Backend::url('indikator/news/posts/create') ?>"
            class="btn btn-primary oc-icon-plus">
            <?= e(trans('indikator.news::lang.new.posts')) ?>
        </a>
        <button
            class="btn btn-default oc-icon-check"
            disabled="disabled"
            onclick="$(this).data('request-data', {
                checked: $('.control-list').listWidget('getChecked')
            })"
            data-request="onActivatePosts"
            data-trigger-action="enable"
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-condition="checked"
            data-stripe-load-indicator>
            <?= e(trans('indikator.news::lang.button.activate')) ?>
        </button>
        <button
            class="btn btn-default oc-icon-times"
            disabled="disabled"
            onclick="$(this).data('request-data', {
                checked: $('.control-list').listWidget('getChecked')
            })"
            data-request="onDeactivatePosts"
            data-trigger-action="enable"
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-condition="checked"
            data-stripe-load-indicator>
            <?= e(trans('indikator.news::lang.button.deactivate')) ?>
        </button>
        <button
            class="btn btn-default oc-icon-pencil"
            disabled="disabled"
            onclick="$(this).data('request-data', {
                checked: $('.control-list').listWidget('getChecked')
            })"
            data-request="onDraftPosts"
            data-trigger-action="enable"
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-condition="checked"
            data-stripe-load-indicator>
            <?= e(trans('indikator.news::lang.form.status_draft')) ?>
        </button>
        <button
            class="btn btn-default oc-icon-trash-o"
            disabled="disabled"
            onclick="$(this).data('request-data', {
                checked: $('.control-list').listWidget('getChecked')
            })"
            data-request="onRemovePosts"
            data-request-confirm="<?= e(trans('indikator.news::lang.flash.delete')) ?>"
            data-trigger-action="enable"
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-condition="checked"
            data-stripe-load-indicator>
            <?= e(trans('system::lang.plugins.remove')) ?>
        </button>
    </div>
<?php endif ?>